body {
    font-family: sans-serif;
    font: bold;
    padding: 0px;
    /* background: url(./bg.jpg)center center no-repeat; */
    background-size: 1521px 2000px;
    /* background: 0.2; */
}

h3 {
    color: mediumaquamarine;
}

p.one {
    color: white;
    font-weight: bold;
    margin: 1px;
}

p.two {
    color: tomato;
    font-weight: 500;
    margin: 1px;
}

.left {
    display: inline-block;
    position: absolute;
    /* border: 2px solid green; */
    left: 60px;
    top: 20px;
}

.left img {
    width: 159px;
}

.left div {
    text-align: center;
    font-weight: bold;
    background-color: red;
}

.right {
    position: absolute;
    right: 34px;
    top: 43px;
    display: inline-block;
    /* border: 2px solid red; */
}

.mid {
    display: block;
    /* border: 2px solid yellow; */
    width: 40%;
    margin: 29px auto;
}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
    font-size: 20px;
}

.navbar li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 34px 23px;
}

.navbar li a:hover,
.navbar li a.active {
    text-decoration: underline;
    color: rgb(255, 255, 255);
}

.btn {
    margin: 0px 9px;
    background-color: black;
    color: white;
    padding: 4px 14px;
    border: 2px solidred;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

a:link,
a:visited {
    text-decoration: none;
}

.btn:hover {
    background-color: gray;
}

.container {
    /* border: 2px solid wheat; */
    color: antiquewhite;
    margin: 106px 200px;
    padding: 75px;
    width: 33%;
    border-radius: 28px;
}

.form-group input {
    text-align: center;
    display: block;
    width: 450px;
    padding: 6px;
    border: 2px solid black;
    margin: 11px;
}

.button_class {
    font-family: sans-serif;
    background-color: wheat;
    text-align: center;
    padding: 10px 10px;
    margin: 4px 100px;
    width: 50%;
    border-radius: 10px;
}

.container h1,
.container h2 {
    text-align: center;
}

.Booming-Bulls-About {
    color: white;
    /* font-size: 26px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    /* border: 2px solid red; */
    margin: 40px 40px;
    width: 100%;
}

li {
    list-style: disc;
    font-size: 30px;
    color: white;
}

a {
    color: white;
}

.card {
    margin: 10px 36px;
    height: 367px;
    width: 28%;
    /* border: 2px solid red; */
    display: inline-block;
    justify-content: flex-start;
    border-radius: 10px;
}

.card h3 {
    margin: 10px;
    text-align: center;
    font-size: 25px;
}

.ap {
    width: 420px;
    height: 314px;
    border-radius: 12px;
}

.logo {
    margin: 3px;
    height: 75px;
}

.card.img {
    height: 100px
}

.card.img h3 {
    height: 100px
}